<div class="landingWrap">
    <div class="signInWallpaper2"></div>
    <div class="signInWrap">
    <div class="header">
        <h1>Efficient Entertainment</h1>
        <h2>Save Time with Time.ly</h2>
    </div>
    <form id="signUpForm">
        <div class="section"><img src="img/icons-01.png" class="icon"><input type="text" id="name" placeholder="Your Name"></div>
        <div class="section"><img src="img/icons-04.png" class="icon"> <input type="text" id="username" placeholder="Username"></div>
        <div class="section"><img src="img/icons-03.png" class="icon"><input type="text" id="email" placeholder="Email"></div>
        <div class="section"><img src="img/icons-02.png" class="icon"> <input type="password" id="password" placeholder="Password"></div>
        <div class="section" id="signInButtons">
            <div class="button" id="signUp">
                <h3>Sign Up</h3>
            </div>
            <div class="button" id="signIn">
                <h3>Returning User</h3>
            </div>
        </div>
    </form>
</div>
</div>
<div class="modalError">
    <div class="text"><h1>Login Error</h1><br><h2>Please Try Again</h2></div>
    <div class="background"></div>
</div>