<input type="text" id="email" placeholder="email">
<input type="text" id="userName" placeholder="username">
<input type="text" id="name" placeholder="name">
<input type="text" id="imgUrl" placeholder="imgUrl">
<input type="password" id="password" placeholder="password">
<button id="signUp">sign up</button>
<button id="logIn">log in</button>
<button id="logOut">log out</button>