<div class="landingWrap">
<div class="signInWallpaper2"></div>
<div class="signInWrap">
    <div class="header">
        <h1>Time.ly</h1>
    </div>
    <form id="signUpForm">
        <div class="section"><img src="img/icons-03.png" class="icon"> <input type="text" id="email" placeholder="Email"></div>
        <div class="section"><img src="img/icons-02.png" class="icon"> <input type="password" id="password" placeholder="Password"></div>
        <div class="section" id="signInButtons">
            <div class="button" id="returningSignIn">
                <h3>Sign In</h3>
            </div>
        </div>
    </form>
</div>
</div>